<nav class="nav justify-content-center">
    <a class="nav-link text-white" href="/">Home</a>
    <a class="nav-link text-white" href="/products">Products</a>
    {{#currentUser}}
        <a class="nav-link text-white" href="/logout">Logout</a>
    {{/currentUser}}
    {{^currentUser}}
        <a class="nav-link text-white" href="/login">Login</a>
    {{/currentUser}}
</nav>