<nav class="nav justify-content-center">
    <a class="btn btn-link text-light" href="/">Home</a>
    <a class="btn btn-link text-light" href="/products">Products</a>
    {{#currentUser}}
        <a class="btn btn-link text-light" href="/logout">Logout</a>
    {{/currentUser}}
    {{^currentUser}}
        <a class="btn btn-link text-light" href="/login">Login</a>
    {{/currentUser}}
</nav>