<html>
<head>
    {{>header}}
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Products</h1>
        {{>nav}}
    </header>

    <main class="container mt-5">
        {{#products}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
                <p class="card-text">{{description}}</p>
                <p class="card-text"><small class="text-muted">Location: {{location}}</small></p>

                {{#currentUser}}
                <a href="/details/{{_id}}" class="btn btn-warning">Edit</a>
                {{/currentUser}}

            </div>
        </div>
        {{/products}}
    </main>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        {{>footer}}
    </footer>
</body>
</html>