html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    padding: 1em;
    flex-shrink: 0;
}

main {
    flex: 1;
    padding-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}